{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
<br />
    <h1>Check</h1>
    {% for element in req %}
        {% set key = element.split(":")[0] %}
        {% set value = element.split(":")[1] %}
        <div id="{{key}}">
            <input type="checkbox" data-toggle="toggle" name="unknown" value="{{key}} : {{value}}"> {{key}} : {{value}}
        </div>
    {% endfor %}
{% endblock %}

