{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>Add to unknown characters list?</h1>
      <form action="/article_assessment" method="POST">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Unknown</th>
              <th scope="col">Characters</th>
              <th scope="col">Pinyin</th>
              <th scope="col">Translation</th>
            </tr>
          </thead>
          <tbody>
          {% for element in unknown_characters %}
            <tr>
              <td><input type="checkbox" data-toggle="toggle" name="unknown" id="{{element.characters}}"
                         value="{{element.characters}}" checked></td>
              <td>{{element.characters}}</td>
              <td>{{element.pinyin}}</td>
              <td>{{element.translation}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <br />
        <input type="hidden" name="article_id" value={{article_id}}>
        <input type="hidden" name="focus_article" value='{{focus_article}}'>
        <button type="submit" class ="btn btn-primary" name="send">Add to Unknown Characters</button>
    </form>
{% endblock %}

