{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>New Article</h1>
      <form action="/article" method="POST">
        <div class="form-group">
          <label for="url">Copy / Paste Article URL</label>
          <input class="form-control" type="text" id="url" name="url">
        </div>
        <div class="form-group">
          <label for="article">Copy / Paste Article</label>
          <textarea class="form-control" id="article" name="article" rows="2"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="send">Read Article</button>
      </form>

    <h1>Characters To Be Learned</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Characters</th>
              <th scope="col">Pinyin</th>
              <th scope="col">Translation</th>
              <th scope="col">Example Sentences</th>
              <th scope="col">Related Articles</th>
            </tr>
          </thead>
          <tbody>
          {% for element in characters_to_be_learned %}
            <tr>
              <td>{{element[0][0]}}</td>
              <td>{{element[0][1]}}</td>
              <td>{{element[0][2]}}</td>
              <td>
                  {% for sub_element in element[1] %}
                    {% set highlighted_sentence = sub_element.sentence.replace(
                element[0][0],'{}{}{}'.format('<span class = "highlighted">',element[0][0],'</span>')) %}
                    {{highlighted_sentence|safe}}<br /><br />
                  {% endfor %}
              </td>
              <td>{{element[0][3]}}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

    <h1>Read Articles</h1>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Article Tags</th>
              <th scope="col">Characters Known</th>
              <th scope="col">Length</th>
              <th scope="col">Difficulty</th>
              <th scope="col">Rating</th>
              <th scope="col">Time Read</th>
              <th scope="col">Go To Article</th>
            </tr>
          </thead>
          <tbody>
          {% for element in article_history %}
            {{element.__dict__}}
            <tr>
              <td>{{element[1].tags}}</td>
              <td>{{((element[1].characters_known_initial_read/element[0].characters_count) * 100) | round(2)}}%</td>
              <td>{{element[0].characters_count}}</td>
              <td>{{element[1].difficulty}}</td>
              <td>{{element[1].rating}}</td>
              <td>{{element[0].created_date.strftime("%Y-%m-%d, %H:%M:%S")}}</td>
              <td><a href="{{element[0].url}}">view article</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

{% endblock %}

