{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <h1>Article</h1>
        <div class = "article">
            <p> {{ article | safe }} </p>
        </div>

    <h1>Dictionary</h1>
        <div id = "fixedglossary">
            <form action="/check" method="POST">
            {% for element in context_dictionary %}
               <div id="{{element[1]}}">
                   <input type="checkbox" data-toggle="toggle" name="unknown" value="{{element[1]}}"> {{element[1]}} : {{element[2]}} --- {{element[3]}}
               </div>
            {% endfor %}
            <br />
                <button type="submit" class ="btn btn-primary" name="send">Add to Unknown Characters</button>
            </form>
        </div>
{% endblock %}

